.background {
  background-color: var(--primary);
  height: 100%;
  overflow: hidden;
  width: 100%;

}

.trivia {
  animation: IntroTrivia 3s cubic-bezier(0.77, 0, 0.175, 1);
  background-image: url('../../assets/trivia.gif');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.buttonPlay, .buttonConfig {
  animation: IntroButton 1.5s ease;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1.25rem;
  padding: 5px;
  width: 100%;
}

.buttonPlay {
  background: var(--primary);
  color: white;
  transition: background 0.5s ease-in-out , color 0.5s ease-in-out , filter 1s ease;
}

.buttonConfig {
  background: var(--secondary);
  color: black;
  transition: filter 1s ease;
}

.buttonPlay:hover, .buttonConfig:hover {
  filter: brightness(125%);
}

.buttonPlay:disabled {
  background: gray;
  color: black;
  cursor: not-allowed;
  transition: background 0.5s ease-in-out , color 0.5s ease-in-out , filter 1s ease;
}

.form {
  display: grid;
  gap: 15px;
  width: 50%;
}

.input {
  animation: IntroInput 1.5s ease;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 1.25rem;
  padding: 5px;
}

.input::placeholder {
  text-align: center;
}

.main {
  background: linear-gradient(180deg, var(--bg) 0%, var(--primary) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  overflow: auto;
  place-items: center;
  width: 100vw;
}

@keyframes IntroTrivia {

  from {
    filter: brightness(120%) blur(5px);
    transform: translateY(-150%) scale(0);
  }

  to {
    filter: brightness(100%) blur(0);
    transform: translateY(0) scale(1);
  }
}

@keyframes IntroInput {

  from {
    opacity: 0;
    transform: translateX(-5%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes IntroButton {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

