span {
  margin-left: 10px;
}
.conataoner-questions{
  margin:  0 150px;
}

.questions-category{
  background: white;
  width: 30%;
  height: 25px;
  border-radius: 10px 10px 0 0;
}

.questions-quest{
  background: white;
  width: 80%;
  height: 100px;
  border-radius: 0 10px 10px 10px;
  padding-top: 10px;
}

.questions-answer {
  display: flex;
  justify-content: space-between;
  width: 63%;
  margin:  20px 150px;
}

.questions-answer button{
  width: 210px;
  height: 50px
}
