.container-main-gamepage {
  margin: 0;
  background-color: #262626;
  background-image: url(../../image/interrogacao.gif), url(../../image/interrogacao2.gif);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: right, left;
  padding: 10px;
  min-height: 100vh;
}

.container-son-gamepage  {
  display: flex;
  background-color: rgb(19, 194, 235);
  min-height: 80vh;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  border-radius: 10px;
  margin: 20px auto;
  box-sizing: border-box;
}

.container-questions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  background-color: rgb(7, 44, 99);
  color: aliceblue;
  height: 100%;
  border-radius: 10px;
  margin: 30px auto;
}

.button-answers{
  display: flex;
  background-color: rgb(7, 44, 99);
  color: aliceblue;
  font-weight: 500;
  border-radius: 10px;
  padding: 30px;
  width: 45%;
  margin: 10px auto;
}

.container-next button {
  display: flex;
  width: 14%;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(7, 44, 99);
  color: aliceblue;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 20px;
}

.container-counter { 
  display: flex;
  border-radius: 100%;
  min-width: 35px;
  padding: 30px;
  background-color: aliceblue;
  font-size: 30px;
  justify-content: center;
  margin:  20px auto 20px;
}

h4 {
  display: flex;
  width: 45%;
  margin: auto;
  opacity: 10%;
}


.loading {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }

.loading:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loading:after {
    background: #0dc5c1;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

@-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

@keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
