.btn-next {
  border: 0.15px solid rgba(0, 0, 0, 0.25);
  cursor: help;
  font-size: 1rem;
  font-weight: 400;
  height: 50%;
  letter-spacing: 0.5px;
  opacity: 1;
  transition: all 0.25s ease;
  width: 85%;
}

.invisible {
  display: none;
  transition: all 0.5s ease;
}

.game-correct {
  border: 3px solid rgb(6, 240, 15);
  color: black;
  font-weight: 500;
  outline: 3px solid rgb(6, 240, 15);
  outline-offset: 2.5px;
  transition: all 0.25s ease;
}

.game-incorrect {
  border: 3px solid red;
  color: black;
  font-weight: 500;
  transition: all 0.25s ease;
}

.dev-correct {
  background-color: blueviolet;
}
