body {
  background-blend-mode: overlay;
  background-color: #222;
  background-image: url('./quiztime.jpg');
  background-size: cover;
  color: white;
  margin: 10px;
  opacity: 0.8;
}

.form {
  display: absolute;
  justify-content: center;
  text-align: center;
}

.name-email {
  border: none;
  border-radius: 3px;
  height: 30px;
  margin: 5px;
  text-indent: 5px;
}

.button-main {
  background-color: rgb(1, 157, 232);
  border: 2px solid rgb(1, 232, 232);
  border-radius: 3px;
  color: rgb(35, 64, 153);
  font-weight: 900;
  height: 32px;
  margin: 5px;
  padding: 0 2;
  width: 120px;
}

a {
  display: block;
  margin: 0 auto;
  width: 120px;
}

.button-answer {
  background-color: #f9f;
  border-radius: 3px;
  color: black;
  font-weight: 900;
  height: 32px;
  margin: 5px;
  padding: 0 2;
}

.button-next {
  background-color: #6f6;
  border: 2px solid green;
  border-radius: 3px;
  color: black;
  font-weight: 900;
  height: 32px;
  margin: 5px;
  padding: 0 2;
}

.correct-color {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-color {
  border: 3px solid red;
}

header {
  flex-direction: row;
  position: flex;
  text-align: center;
}

header img {
  border-radius: 3px;
  display: inline-flex;
  margin: 5px;
}

header div {
  display: inline-block;
}

.game {
  margin: 0 auto;
  margin-left: 35%;
  margin-right: 35%;
  position: absolute;
  text-align: center;
}

.timer {
  text-align: center;
}


.feedback {
  margin: 0 auto;
  margin-left: 35%;
  margin-right: 35%;
  position: absolute;
  text-align: center;
}
